@using WebApplication.Models.Category;
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/ShopMain/_ShopMainLayout.cshtml";

    var categoryModels = (List<CategoryManageList>)ViewBag.Categories;
    var user = (WebApplication.Models.User.UserModel)ViewBag.User;
}
<div class="l-main-container">
    <div class="b-breadcrumbs f-breadcrumbs">
        <div class="container">
            <ul>
                <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Tài khoản</a></li>
                <li><i class="fa fa-angle-right"></i><span> Đổi mật khẩu</span></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("Partial/LeftMenuPartial")
            </div>
            <div class="col-md-9">
                <div class="b-form-row f-primary-l f-title-big c-secondary">Đổi mật khẩu tài khoản</div>
                <div class="b-form-row">Cập nhật lại mật khẩu để được bảo mật tốt nhất</div>
                <hr class="b-hr" />
                @if (user != null)
                {
                    <div class="row b-form-inline b-form-horizontal">
                        <div class="col-xs-12">
                            <div class="b-form-row">
                                <label class="b-form-horizontal__label">Mật khẩu cũ</label>
                                <div class="b-form-horizontal__input">
                                    <input type="password" name="password" value="" placeholder="Mật khẩu cũ" id="input-password-old" class="form-control">
                                </div>
                            </div>
                            <div class="b-form-row">
                                <label class="b-form-horizontal__label">Mật khẩu mới</label>
                                <div class="b-form-horizontal__input">
                                    <input type="password" name="passwordNew" value="" placeholder="Mật khẩu mới" id="input-password-new" class="form-control">
                                </div>
                            </div>
                            <div class="b-form-row">
                                <label class="b-form-horizontal__label">Mật khẩu xác nhận</label>
                                <div class="b-form-horizontal__input">
                                    <input type="password" name="passwordNewConfirm" value="" placeholder="Mật khẩu mới xác nhận" id="input-password-new-confirm" class="form-control">
                                </div>
                            </div>

                            <div class="b-form-row">
                                <div class="b-form-horizontal__label"></div>
                                <div class="b-form-horizontal__input">
                                    <input type="button" value="Thay đổi" class="b-btn f-btn b-btn-md b-btn-default f-primary-b b-btn__w100" onclick="ChangePassword()">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/MainShop/Authentication/AuthenticationController.js"></script>
