
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                &copy; 2016 Invedia
            </div>
            <div class="col-sm-8">
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li>&middot;</li>
                    <li><a href="#">Điều kiện sử dụng</a></li>
                    <li>&middot;</li>
                    <li><a href="#">Pháp lí</a></li>
                    <li>&middot;</li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-sm-1 text-right">
                <small class="text-muted">v1.3</small>
            </div>
        </div>
    </div>
</footer>