@using WebApplication.Models.Category;
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/Shop/_ShopLayout.cshtml";

    var categoryModels = (List<CategoryManageList>)ViewBag.Categories;
    var user = (WebApplication.Models.User.UserModel)ViewBag.User;
}

@section MenuSection
{
    @Html.Partial("../Home/IndexPartialPage/MenuPartial")
}

@section CategoryColumn
{
    @Html.Partial("../Home/IndexPartialPage/CategoryListPartial", categoryModels)
}

<div id="content" class="col-sm-9">
    <ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Tài khoản</a></li>
        <li><a href="@Url.Action("ChangePassword", "User")">Đổi mật khẩu</a></li>
    </ul>
    <div class="well">
        <div class="heading" style="border-bottom: 0px;">
            <i class="fa fa-key"></i>
            <h2>Đổi mật khẩu</h2>
            <strong>Cập nhật lại mật khẩu để được bảo mật tốt nhất</strong>
        </div>
        @if (user != null)
        {
            <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>
                    <legend>Mật khẩu của bạn</legend>
                    <div class="form-group required">
                        <label class="col-sm-3 control-label" for="input-password">Mật khẩu cũ</label>
                        <div class="col-sm-7">
                            <input type="password" name="password" value="" placeholder="Mật khẩu cũ" id="input-password-old" class="form-control">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-3 control-label" for="input-password">Mật khẩu mới</label>
                        <div class="col-sm-7">
                            <input type="password" name="passwordNew" value="" placeholder="Mật khẩu mới" id="input-password-new" class="form-control">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-3 control-label" for="input-confirm">Mật khẩu mới xác nhận</label>
                        <div class="col-sm-7">
                            <input type="password" name="passwordNewConfirm" value="" placeholder="Mật khẩu mới xác nhận" id="input-password-new-confirm" class="form-control">
                        </div>
                    </div>
                </fieldset>
                <div class="buttons">
                    <div class="col-sm-10">
                        <div class="pull-right">
                            <input type="button" value="Thay đổi" class="btn btn-primary" onclick="ChangePassword()">
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
</div>
<script src="~/Scripts/MainShop/Authentication/AuthenticationController.js"></script>
