@{
    ViewBag.Title = "ModalUpdateHomePage";
}

<!-- Set home page  -->
<div id="set-homepage-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cập nhật vị trí trang chủ [<span id="set-homepage-product-name"></span>]</h4>
            </div>
            <div class="modal-body form-horizontal" id="content-set-homepage">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close-modal">Đóng</button>
                <button type="button" class="btn btn-default" onclick="return setHomePage(this);">Cập nhật</button>
                <input type="hidden" value="" id="product-id" />
            </div>
        </div>
    </div>
</div>
